body {
  padding: 0px;
  margin: 0px;
}
.table {
  border-style: solid;
  width: 450px;
  padding: 10px;
  margin: 3px;
}

h2 {
  text-align: center;
}
table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  text-align: center;
}
.list {
  border-style: solid;
  width: 470px;
  margin: 3px;
  height: 477px;
}

.JavaScript {
  border-style: solid;
  margin: 3px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  text-decoration: none;
}

.container {
  margin: 3px;
  width: 470px;
  display: flex;
}

.item1 {
  background-color: red;
  color: black;
  width: 40px;
  text-align: center;
  margin: 3px;
  border-radius: 3px;
  padding: 4px;
}

.item2 {
  background-color: green;
  color: black;
  width: 40px;
  text-align: center;
  margin: 3px;
  border-radius: 3px;
  padding: 4px;
}

.item3 {
  background-color: #b0e0e6;
  color: black;
  width: 40px;
  text-align: center;
  margin: 3px;
  border-radius: 3px;
  padding: 4px;
}

.item4 {
  background-color: #ff8c00;
  color: black;
  width: 40px;
  text-align: center;
  margin: 3px;
  border-radius: 3px;
  padding: 4px;
}

.layout {
  border-style: solid;
  margin: 3px;
  display: flex;
  flex-direction: column;
}
h3 {
  margin: 3px;
}
.fla {
  display: flex;
  justify-content: center;
}

div {
  border-radius: 10px;
}

.li {
  padding: 3px;
}

.seonde_container {
  display: flex;
}

.c2 {
  margin: 10px;
  padding: 10px;
  background: aqua;
  flex: 1 1px;
}

.gird-container {
  margin: 3px;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  column-gap: 40px;
  justify-content: center;
}


.main-girdcon {
  border-style: solid;
  margin: 3px;
}